ul.nav {
    row-gap: 0.25rem;
}

a.nav-link {
    transition: none;
}

    a.nav-link.text-white:hover {
        background-color: var(--bs-nav-pills-link-active-bg);
    }

div.blade-divider {
    width: 1.5rem;
    height: 100vh;
    flex-shrink: 0;
}

span.certificate-details {
    white-space: pre-wrap;
    word-break: break-all;
    font-family: monospace;
}
