ul.nav {
    row-gap: 0.25rem;
}

a.nav-link {
    transition: none;
}

    a.nav-link.text-white:hover {
        background-color: var(--bs-nav-pills-link-active-bg);
    }

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}
