@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<main class="d-flex flex-nowrap justify-content-center align-items-center">
    <div class="p-5 rounded bg-body-tertiary text-center">
        <h1>Oh noes!</h1>
        <p>An error occurred</p>
        <code>@RequestId</code>
    </div>
</main>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
    }
}
